sb-layout-blog
    sb-clean-blog-header(
        backgroundImage='url("assets/img/adopt-home.jpg")',
        heading='Add Pet',
        subHeading='Add pet and we will find him adopter!',
        [siteHeading]='true'
    )
    add-pet-content
