sb-layout-blog
    sb-clean-blog-header(
        backgroundImage='url("assets/img/adopt-home.jpg")',
        heading='Do you want to help us?',
        subHeading='',
        [siteHeading]='true'
    )
    volunteer-content
