<br />
<div>
    <div class="container">
        <h1 class="text-white ml-0 mr-0">Who we are?</h1>
        <br />
        <h5 class="text-white ml-0 mr-0">Adopt me is a free app that connect between rescued pets to adopters.</h5>
        <h5 class="text-white ml-0 mr-0">We collect pets data from the nearby shelters and display all available pets here in order to help you choose your new best friend!</h5>
        <h5 class="text-white ml-0 mr-0">You can find all the pet in our pets section and also to add a pet to our database.</h5>
        <h5 class="text-white ml-0 mr-0">We are non-profit organization and always shorts in volunteers, so if you want to help use you can fill your details in the volunteer section.</h5>
        <br>
        <h3 class="text-white ml-0 mr-0">Thank You!</h3>
    </div>
</div>
<br /><br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto"><img src="assets/img/about-content.jpg" /></div>
        </div>
    </div>
</div>
